.hand {
    color: green;
    padding: 50px;
}

.hand_info {
    /* border: 2px solid black; */
    text-align: center;
    padding-bottom: 10px;
}

.hand_id {
    font-size: 20px;
    font-weight: bold;
}

.center_area {
    display: flex;
    height: auto;
    /* border: 2px solid black; */
}

.action {
    width: 35%;
    /* border: 2px solid black; */
    padding-left: 2px;
}

.board {
    /* padding: 25% 0; */
    text-align: center;
    width: 30%;
    /* border: 2px solid black; */
    position: relative;
}

.pot {
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    width: -webkit-fill-available;
}

.community_cards {
 font-size: 22px;
 /* text-decoration: underline; */
 border: 2px solid black;
 font-weight: bold;
 position: absolute;
 bottom: 25px;
 width: -webkit-fill-available;
 padding: 3px;
 margin-bottom: 3px;
}

.summary {
    width: 35%;
    /* border: 2px solid black; */
    padding-left: 2px;
}

.players {
    /* border: 2px solid black; */
    display: flex;
}

.action h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5px 0;
}

.summary h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5px 0;
}

.action button {
    position: relative;
    width: 40%;
    left: 30%;
    margin-bottom: 5px;
}

.summary button {
    position: relative;
    width: 40%;
    left: 30%;
    margin-bottom: 5px;
}