.hand {
    color: green;
}

.hand_info {
    border: 2px solid black;
    text-align: center;
}

.hand_id {
    font-size: 20px;
    font-weight: bold;
}

.center_area {
    display: flex;
    /* border: 2px solid black; */
}

.action {
    width: 35%;
    border: 2px solid black;
    padding-left: 2px;
}

.board {
    padding: 25% 0;
    text-align: center;
    width: 30%;
    border: 2px solid black;
}

.pot {
    font-size: 20px;
}

.community_cards {
 font-size: 30px;
 text-decoration: underline;
 font-weight: bold;
}

.summary {
    width: 35%;
    border: 2px solid black;
    padding-left: 2px;
}

.players {
    /* border: 2px solid black; */
    display: flex;
}

.action h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5px 0;
}

.summary h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5px 0;
}