.new_user {
    border: 3px solid black;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 50px 0;
    margin-top: 200px;
}

.new_user > * {
    padding: 5px;
}

label {
    padding-right: 5px;
}