.player {
    color: red;
    border: 2px solid black;
    width: -webkit-fill-available;
    padding: 3px;
    text-align: center;
    font-weight: bold;
}

.player > * {
    margin: 5px;
}

/* .player_id {
    padding: 3px;
}

.stack_size {
    padding: 3px;
}

.position {
    padding: 3px;
}

.hole_cards {
    padding: 3px;
} */